# Project exclude paths
/.gradle/
/core/build/
/server/build/
/androidApp/build/
# From Apdroid project
*.iml
.gradle
/local.properties
.idea
/gradle/
.DS_Store
/build
/captures
.externalNativeBuild
server/bin/main/data/kontak1-latac-firebase-adminsdk-ajri1-46c4a4482a.json