<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Силосы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h1>Группы(Силосы):</h1>
        </div>
        <div class="list-group">
            <th:block th:each="group : ${groups}">
                <a th:href="@{'params?silo=' + ${group.name}}" class="list-group-item"
                   th:style="${group.state.value == 0} ?
                                'background: #CEFFAD' : (${group.state.value == 1} ?
                                    'background: #FF7A7A' : 'background: #9C9C9C')">
                    <h4 class="list-group-item-heading" th:text="${group.name}">List group item heading</h4>
                    <p class="list-group-item-text" th:text="${group.dir}">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
            </th:block>
        </div>
        <!--<b>Мнемосхемы:</b>
        <th:block th:each="mnemoscheme : ${mnemoschems}">
            <a th:href="@{'mnemoscheme?mnemoscheme=' + ${mnemoscheme.name}}">
                <div>
                    <b th:text="${mnemoscheme.name}"></b>
                </div>
            </a>
        </th:block>-->
    </div>
</body>
</html>