<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Силосы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <b>Группы(Силосы):</b>
    <th:block th:each="group : ${groups}">
        <a th:href="@{'params?silo=' + ${group.name}}">
            <div th:style="${group.state.value == 1} ?
                            'background: #CEFFAD' : (${group.state.value == 0} ?
                                'background: #FF7A7A' : 'background: #9C9C9C')">
                <b th:text="${group.dir}"></b>
                <span  th:text="${group.name}"></span>
            </div>
        </a>
    </th:block>
    <!--<b>Мнемосхемы:</b>
    <th:block th:each="mnemoscheme : ${mnemoschems}">
        <a th:href="@{'mnemoscheme?mnemoscheme=' + ${mnemoscheme.name}}">
            <div>
                <b th:text="${mnemoscheme.name}"></b>
            </div>
        </a>
    </th:block>-->
</body>
</html>